body {
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    background: #D3D3D3;
}

h1 {
    margin: .7em 0;
    font-size: 50px;
}

.nav-link {
    font-size: 17px;
    display: inline-block;
    color: #FFFFFF;
    margin: .7em 0;
    padding: 0 1em 1em 0;
    margin: 0;
}

.home {
    height: 100vh;
    background-image: url(../images/homepic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home p {
    margin: 1.3em 0;
    font-size: 16px;
    padding: 0;
    margin: 4em 0 0 0;
}

.home h1 {
    font-size: 75px;
    margin-left: 1em;
    margin: 0;
    text-shadow: 1px 2px #000;
}

.btn-link {
    background-color: #ABB2B9;
}

.card {
    color: black;
    font-size: 13px;
}

.card a {
    color: #bbeeff;
    text-decoration: none;
}

a {
    color: #000;
}

iframe {
    height: 450px;
    width: 100%;
    padding: 0 0 1em 0;
}