body {
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #ABB2B9  ;
}

h1 {
    margin: .5em 0;
}

.navbar-nav{
    font-size: 17px;
    display: inline-block;

}














