body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #E8E9EA;
    color: #000000;
}

main {
    padding: 0 3em 0 3em;
    margin: 4em 0;
}

.images {
    max-width: 75%;
    margin: 0 auto;
    padding: 2em 0;
}

.images p {
    padding: 2em 0 0 0;
    font-style: italic;
    font-size: .85em;
    text-align: center;
}

.graphic {
    max-width: 75%;
    margin: 0 auto;
    padding: 1em 0 2em 0;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-bottom: 4em;
}

footer .social-icons img {
    width: 20px;
    height: 20px;
}

@media (max-width:556px) {

    .graphic,
    .images {
        max-width: 95%;
        margin: 0 auto;

    }
}