body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #E8E9EA;
    color: #000000;
}

.p1 {
    padding: 2em;
    padding-bottom: 1em;
}

.p2graphic {
    max-width: 1500px;
    max-height: 400px;
    padding-bottom: 2em;
    padding-left: 15em;
    padding-right: 15em;
}

.p2 {
    padding-top: 7em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0em;
}

.p2 .luxhome {
    padding-top: 1em;
    padding-left: 11em;
}

.p2 .image1cap {
    font-style: italic;
    padding-top: 2em;
    padding-bottom: 0em;
}

.p3 {
    padding-top: 0em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.p4graphic {
    max-width: 1200px;
    max-height: 400px;
    padding-bottom: 0em;
    padding-left: 25em;
    padding-right: 10em;
}

.p5 {
    padding-top: 9em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0em;
}

.p5 .hatevandalism {
    padding-top: 1em;
    padding-left: 11em;
}

.p5 .image2cap {
    font-style: italic;
    padding-top: 2em;
    padding-bottom: 0em;
}

.p6 {
    padding: 2em;
    padding-top: 0em;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-bottom: 4em;
}

footer .social-icons img {
    width: 20px;
    height: 20px;
}

/* Styles for mobile devices */
@media (max-width: 767px) {
    .headerpage {
        padding: 0 0 2em 0;
        text-align: center;
    }

    .p2graphic {
        padding: 0 0 2em 0;
        text-align: center;
    }

    .p2 .luxhome {
        padding: 0 0 2em 0;
        text-align: center;
    }

    .p4graphic {
        padding: 0 0 2em 0;
        text-align: center;
    }

    .p5 .hatevandalism {
        padding: 0 0 2em 0;
        text-align: center;
    }

}